body {
    height: 100vh;
    background: url(./images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-repeat:no-repeat;
    background-position:center; /* white space before snapping */
}

.container{
    height: 100%;
    width: 100%;
}

#game-area {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 70%;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.win {
    position: absolute;
    font-size: 4em;
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.cardContainer {
    width: 16.66%;
    height: 33.33%;
    display: flex;
    justify-content: center;
}

.card img {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.card {
    width: 90%;
    height: 90%;
    position: relative;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    box-shadow: 5px 5px 3px 0 rgba(187, 187, 220, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

header {
    padding: 5px 20px;
    border-radius: 50px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    position: relative;
}

.sound{
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 2%;
    top: 2%;
}
.sound * {
    width: 40px;
    height: 40px;
}

.music:hover{
    cursor: pointer;
}

.logo {
    width: 25%;
    height: 10%;
    display: inline-block;
    padding: 5px 0 0 5px;
    position: relative;
    right: 3%;
}

.logo:hover{
    cursor: pointer;
}

h1 {
    font-size: 3em;
    color: white;
    display: inline-block;
    font-family: 'Modern Antiqua', cursive;
    margin: 0.4em 0.7em;
}

.title {
    background-color: #f66242;
    padding: 5px 20px;
    border-radius: 50px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    border: 4px solid white;
    position: relative;
    white-space: nowrap;
}

.reset {
    font-family: 'Modern Antiqua', cursive;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 60px;
    background-color: #159F6B;
    box-shadow: 5px 5px 3px 0 rgba(39, 72, 77, 0.6);
    /* position: relative;
    left: 5%;
    margin: 18px 20px; */
    white-space: nowrap;
    padding: 0.5em;
}

.reset:hover {
    box-shadow: 5px 5px 16px 0 rgba(39, 72, 77, 0.8);
    transform: translateY(-4px);
}

.stats-container {
    display: flex;
    width: 75%;
    justify-content: space-around;
    margin: auto;
    border: 1.5px solid white;
    background-color: #f66242;
    border-radius: 20px 20px;
    padding: 15px 0;
    position: relative;
    bottom: -72vh;
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.back:hover {
    box-shadow: 0 12px 6px 0px rgb(148, 148, 184, 0.9);
    transform: translateY(-5px);
}


@media (max-width: 950px){
    #game-area {
        display: flex;
        justify-content: center;
        width: 95%;
        height: 70%;
        flex-wrap: wrap;
        padding: 10px;
        margin: auto;
        bottom: 5%;
    }
    .stats-container {
        width: 95%;
        position: relative;
        bottom: -77vh;
    }
    .cardContainer {
        width: 16.6666%;
        height: 25.33%;
        display: flex;
        justify-content: center;
    }

    header {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo {
        width: 25%;
        height: 10%;
        position: relative;
        right: 14%;
    }

    h1 {
        font-size: 2em;
        color: white;
        display: inline-block;
        font-family: 'Modern Antiqua', cursive;
    }
    .music {
        width: 25px;
        height: 25px;
    }
    .reset {
        font-family: 'Modern Antiqua', cursive;
        color: white;
        font-size: 0.7em;
        cursor: pointer;
        background-color: #159F6B;
        box-shadow: 5px 5px 3px 0 rgba(39, 72, 77, 0.6);
        padding: 0.7em;
    }
    .title{
        font-size: 0.95em;
        border: 2px solid white;
    }
    .stats{
        font-size: 1em;
    }
}

@media (max-width: 700px){
    .stats{
        font-size: 0.8em;
    }
    .stats-container {
        bottom: -80vh;
    }
}


@media (max-width: 500px){
    #game-area {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 65%;
        flex-wrap: wrap;
        padding: 10px;
        margin: auto;
        top: -10%;
    }

    .cardContainer {
        width: 31%;
        height: 21%;
        display: flex;
        justify-content: center;
    }
    .logo {
        position: relative;
        right: 3%;
    }

    h1 {
        font-size: 2em;
        color: white;
        display: inline-block;
        font-family: 'Modern Antiqua', cursive;
    }
   
    .title {
        display: none;
    }
    header{
        width: 100%;
        top: 0;
    }

    .stats-container{
        font-size: 0.8em;
        top: 84vh;
    }
    .reset{
        position: relative;
        right: 10%;
    }
    .music {
        width: 25px;
        height: 25px;
    }
}


