body {
    background: url(./images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position:center; /* white space before snapping */
}

.header{
    height: 15%;
}

header {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    position: relative;
}

.sound{
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 4;
}
.sound * {
    width: 40px;
    height: 40px;
}

.music:hover{
    cursor: pointer;
}

.music_play, .music_pause{
    position: absolute;
    right: 41px;
    margin-right: 5px;
}

.logo {
    width: 25%;
    height: 10%;
    display: inline-block;
    padding: 5px 0 0 5px;
    position: relative;
    right: 3%;
}

h1 {
    font-size: 3em;
    color: white;
    display: inline-block;
    font-family: 'Modern Antiqua', cursive;
    margin: 0.4em 0.7em;
}

.title {
    background-color: #f66242;
    padding: 5px 20px;
    border-radius: 50px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    border: 4px solid white;
    position: relative;
    white-space: nowrap;
}

.stats-container-portrait{
    display: none;
}

button:focus {
    outline:0;
}

.container{
    width: 100%;
    height: 100%;
}

#game-area {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.cardContainer {
    width: 16.66%;
    height: 31.33%;
    display: flex;
    justify-content: center;
}

.card img {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.card {
    width: 90%;
    height: 90%;
    position: relative;
    cursor: pointer;
}

/* .card:hover {
    transform: translateY(-5px);
} */

/* .back:hover {
    box-shadow: 0 12px 6px 0px rgb(148, 148, 184, 0.9);
    transform: translateY(-5px);
} */

.front {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    box-shadow: 5px 5px 3px 0 rgba(187, 187, 220, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.reset {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 60px;
    background-color: #159F6B;
    box-shadow: 1px 6px 3px 0 rgba(39, 72, 77, 0.6);
    white-space: nowrap;
    padding: 0.5em;
    bottom: 15%;
    position: relative;
}

.reset:hover {
    box-shadow: 5px 5px 16px 0 rgba(39, 72, 77, 0.8);
    transform: translateY(-4px);
}

.stats-container {
    display: flex;
    width: 79%;
    height: 5%;
    justify-content: space-around;
    margin: auto;
    border: 1.5px solid white;
    background-color: #f66242;
    border-radius: 20px 20px;
    padding: 15px 0;
    bottom: 0;
    font-family: 'Roboto Slab';
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.win {
    position: absolute;
    font-size: 4em;
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    border-radius: 20px;
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 1px solid #888;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.celeb{
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 950px){
    #game-area {
        width: 95%;
        /* position: relative;
        top: 30px; */
    }
    .stats-container {
        width: 95%;
        position: relative;
        top: 30px;
    }
    .cardContainer {
        width: 16.6666%;
        height: 25.33%;
    }

    header {
        width: 90%;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .music{
        position: static;
    }
    .logo {
        width: 25%;
        height: 10%;
        position: relative;
        right: 15%;
    }

    h1 {
        font-size: 2em;
    }
    .music {
        width: 25px;
        height: 25px;
    }
    .reset {
        font-size: 0.7em;
        padding: 0.7em;
    }

    .title{
        font-size: 0.90em;
        border: 2px solid white;
        position: relative;
        right: 25%;
    }
    .stats{
        font-size: 1em;
    }
}

@media (max-width: 700px){
    .stats{
        font-size: 0.8em;
    }
    .title{
        font-size: 0.7em;
        display: none;
    }
}

@media (max-width: 650px){
    .cardContainer{
        width: 29%;
        height: 26%;
    }
    #game-area{
        height: 370px;
        width: 80%;
    }
    .stats-container{
        position: relative;
        top: 200px;
    }
}

@media (max-width: 500px){
    #game-area {
        width: 90%;
        height: 550px;
    }
    .header{
        height: 7%;
    }

    .cardContainer {
        width: 31%;
        height: 16.33%;
    }
    .logo {
        position: relative;
        width: 100px;
        bottom: 2vh;
        left: -53vw;
        max-height: 100%;
    }
    .modal-content {
        width: 100%;
        bottom: 17%;
    }
   
    .title {
        display: none;
    }

    header{
        width: 50%;
        top: 0;
    }

    .stats-container{
        font-size: 0.8em;
        height: 20px;
        padding: 3% 0;
        width: 98%;
    }
    .stats {
        font-size: 0.8em;
    }
    .reset{
        position: relative;
        /* right: 10%; */
    }
    .sound{
        top: 2%;
        z-index: 2;
        right: 7%;
    }
    .music {
        width: 25px;
        height: 25px;
    }
    .close{
        position: relative;
        right: 10px;
        bottom: 30px;

    }
}

@media (max-width: 432px){
    .stats-container{
        position: relative;
        top: 0;
    }
}

@media (max-width: 320px){
    #game-area {
        width: 85%;
        height: 450px;
    }
}


@media (min-width: 400px) and (max-width: 499px) {
    #game-area {
        width: 85%;
        height: 612px;
    }
    .stats-container{
        position: relative;
        top: 0px;
    }
}

@media (min-width: 501px) and (max-width: 850px) {
    .modal-content {
        width: 60%;
    }
}

/*Galaxy Note 2*/
@media (width: 360px) and (height: 640px) {
    .stats-container{
        /* bottom: -15px; */
    }
    #game-area {
        height: 525px;
    }
}

/*iphone 6/7*/
@media (width: 414px) and (height: 736px) {
    /* .stats-container{
        bottom: 12px;
    } */
}

/*iPad Pro*/
@media (width: 1024px) and (height: 1366px) {
    #game-area {
        width: 95%;
        height: 900px;
        margin: unset;
    }
    .cardContainer {
        width: 26%;
        height: 21%;
    }
    .stats-container{
        height: 50px;
        position: relative;
        top: 240px;
    }
}

/*iPad*/
@media (width: 768px) and (height: 1024px) {
    #game-area {
        width: 95%;
        height: 540px;
        position: relative;
        top: 20px;
    }
    .cardContainer {
        width: 26%;
    }
    .stats-container{
        position: relative;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
    }
}

/*Kindle Fire X*/
@media (width: 800px) and (height: 1280px) {
    #game-area {
        width: 95%;
        top: 50px;
        height: 650px;
    }
    .cardContainer {
        width: 28.33%;
    }
    .stats-container{
        bottom: 10px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        height: unset;
    }
}

/*iphone X*/
@media (width: 375px) and (height: 812px) {
    #game-area {
        width: 100%;
        height: 694px;
    }

    .cardContainer {
        width: 33.333%;
        height: 16%;
    }
}

/*Mobile Portrait*/
@media (max-width: 830px) and (max-height: 420px) {
    .title{
        display: none;
    }
    #game-area {
        position: fixed;
        width: 80%;
        height: 80%;
        bottom: 0;
        left: 60%;
        margin-right: 2%;
    }
    .logo{
        height: 30px;
        width: 90px;
        position: absolute;
        right: 40%;
    }
    .cardContainer {
        width: 16%;
        height: 28%;
    }
    .stats-container{
        align-items: center;
        display: none;
    }
    .stats-container-portrait{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 15%;
        height: 80%;
    }
    .stats{
        font-family: 'Roboto Slab';
        align-items: inherit;
    }
    .modal{
        width: 100%;
    }
    .modal-content{
        width: 80%;
        height: 55%;
        bottom: 22%;
    }
    .celeb{
        width: 120px;
    }
    .close{
        position: relative;
        bottom: 10%;
        left: 2%;
    }
}


